body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}


h1 {
    color: #343a40;
}


button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


#result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

#retry-btn {
    display: none;
    background-color: #28a745;
}

#retry-btn:hover {
    background-color: #218838;
}

